<p>Hi <%= @client.email %>,<p>

<p><%= @mplc.email %> invites you to see his profile.<p>

<p>Click the following link to accept the invitation<p>

<p><a href="<%= @invitation_url %>"><%= @invitation_url %></a><p>
